@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  src: url("./assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Josefin Sans";
  font-weight: 700;
  src: url("./assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
:root {
  font-family: "Josefin Sans", sans-serif;

  font-synthesis: none;
}

/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
*/
